<div class="conciertos">
    <h1 style="font-weight:bold;color:#88cece;margin-top:8px;margin-bottom:8px;">Promociones</h1>
    <h5>Conciertos fav</h5>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img width="300" height="280" src="../../../assets/img/Coldplay.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Concierto Music of the Spheres World Tour</h5>
                        <p class="card-text">COLDPLAY</p>
                        <a href="#" class="btn btn-danger">Ver</a>
                    </div>
                </div>

            </div>

            <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <img height="280" src="../../../assets/img/LoveonTour_Harry.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">LOVE ON TOUR 2022</h5>
                        <p class="card-text">HARRY STYLES</p>
                        <a href="#" class="btn btn-danger">Ver</a>
                    </div>
                </div>
            </div>
          
            <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <img height="280" src="../../../assets/img/ImagineDragons.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MERCURY WORLD TOUR</h5>
                        <p class="card-text">IMAGINE DRAGONS</p>
                        <a href="#" class="btn btn-danger">Ver</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>